.fowler__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    background-color: #000000d6;
    transition: all 0.3s;

    .fowler__modal--wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #333333;
        height: 320px;
        width: 550px;
        border: 1px solid #979797;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fowler__modal__headline {
            @extend .headline;
            font-family: $font-proxima-nova;
            color: #000000;
            font-size: 22px;
            font-weight: bold;
            line-height: 27px;
        }

        .fowler__modal__text {
            font-family: $font-proxima-nova;
            font-size: 18px;
            line-height: 22px;
            text-align: center;

            .fowler__modal__text--email {
                color: #004CD4;
            }
        }

        .fowler__modal__input {
            .user-password {
                border-radius: 0;
                width: 100%;
            }
        }

        .fowler__modal--action {
            padding-top: 35px;

            .fowler__modal--action__button {
                width: 187px;
                border-radius: 5px;

                &.cancel {
                    background-color: #929BAB;
                    margin-right: 23px;
                }

                &.save {
                    background-color: #004CD4;
                }

                @include breakpoint-max(xs) {
                    width: auto;
                }
            }
        }

        @include breakpoint-max(xs) {
            width: 100%;
        }
    }

    &.modal-open {
        display: block;
    }
}

