.banner {
    position: relative;
    @include breakpoint(md) {
        height: 500px;
    }
    &:not(.footer):not(.privacy-banner):not(.terms-banner) {
        @include breakpoint-max(sm) {
            height: 620px;

            &.faq {
                height: auto;
            }
        }
    }

    img {
        box-shadow: 0 0 5px rgba(0,0,0,.8);
        height: 350px !important;
        object-fit: cover;
        @include breakpoint(md) {
            height: 500px !important;
        }
    }

    .banner__inner {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        position: absolute;
        top: 22%;
        right: 0;
        padding: 0 190px;
        z-index: 1;

        @include breakpoint-max(sm) {
            padding: 20px;
            top: 50%;
            left: 0;
            align-items: center;
            background: white;
        }
    }

    &.footer {
        @include breakpoint-max(sm) {
            margin-bottom: -5px;
        }
    }

    &:after {
        content: "";
        background: linear-gradient(270deg, #000000 0%, rgba(33, 32, 32, 0.1) 100%);
        opacity: 0.59;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        @include breakpoint-max(sm) {
            height: 350px;
        }
    }
}
