.fowler--stepper {
    width: 248px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
    .fowler--what-is-cape__title {
        color: #004CD4;
        font-family: $secondaryFont;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        margin: 0 auto;
        padding-top: 53px;
        padding-bottom: 11px;
    }

    .fowler--what-is-cape__text {
        color: $lead;
        font-family: $secondaryFont;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        margin: 0;
    }

    @include breakpoint-max(md) {
        padding-bottom: 84px;
    }
}
