.button {
    font-family: $primaryFont;
    color: $white;
    line-height: 100%;
    border-radius: 21px;
    font-size: 14px;
    padding: 14px 20px 12px 20px;
    background: $buttonPrimary;
    border: none;
    transition: background 0.2s ease;
    min-width: 124px;
    min-height: 40px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 43px -15px rgba(0, 0, 0, .95);
    &:hover {
        background: darken($buttonPrimary, 7%)
    }
    &:active {
        top: 1px;
        background: darken($buttonPrimary, 12%)
    }
}

.button-small {
    border-radius: 3px;
    padding: 7px 20px 8px 20px;
    min-height: 35px;
}

.button[disabled] {
    background-color: #c3c3c3;
    color: #666666;
    opacity: 1;
    cursor: not-allowed;
}
