.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            &[disabled] + .slider {
                opacity: .5;
                pointer-events: none;
                background-color: #334052;
            }

            + .slider {
                background-color: #2C85FD;

                &:before {
                    transition: .4s ease-out;
                    transform: translateX(26px);
                }
            }
        }
    }

    .slider {
        background-color: #ccc;
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .4s;
        &:before {
            background-color: #fff;
            bottom: 4px;
            content: "";
            height: 26px;
            left: 4px;
            position: absolute;
            width: 26px;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}
