.section {
    padding: 25px;
    position: relative;

    @include breakpoint(md) {
        padding: 50px 90px 40px;
    }
    @include breakpoint(lg) {
        padding: 70px 190px 80px;
    }

    &.admin {
        height: 100vh;
        background-color: #f3f4f4;
        width: 100%;
        padding-top: 100px;
        @include breakpoint(md) {
            padding: 100px 10px 40px;
        }
        @include breakpoint(lg) {
            padding: 100px 10px 80px;
        }

        .section__inner {
            max-width: 1440px;
            margin: 0 auto;
        }
    }
}

.section__inner {
    max-width: $max-width / 2;
    margin: 0 auto;

    @include breakpoint(lg) {
        max-width: $max-width;
    }
}

// a section sometimes doesnt have a title
.section-title + .section__inner {
    margin-top: 25px;
    @include breakpoint(md) {
        margin-top: 20px;
    }
}

