.fowler--cape {
    padding-top: 90px;
    .fowler--cape__headline {
        color: black;
        font-family: $secondaryFont;
        line-height: 42px;
        text-align: center;
        font-weight: bold;
    }

    .fowler--cape__text {
        max-width: 958px;
        margin: 0 auto;
        color: $lead;
        font-family: $secondaryFont;
        font-size: 24px;
        text-align: center;
        line-height: 34px;
    }
}
